.cta {
  text-align: center;
  padding: 0 39px;
  margin-bottom: 50px;
}

.cta-content {
  max-width: 600px;
  margin: 0 auto;
}

.cta-content h2,
.cta-content h3 {
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.53px;
  margin: 0 0 5px;
  color: #fff;
}

.cta-content p {
  font-size: 16px;
  color: rgb(255 255 255 / 70%);
  margin: 0 0 34px;
  line-height: 1.4;
}

.cta-content .button-container {
  margin: 0;
}

.cta-content a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgb(0 102 255);
  color: #fff;
  padding: 13px 20px;
  border-radius: 5px;
  font-family: var(--heading-font-family);
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.2;
}

.cta-content a:hover {
  background: rgb(0 82 204);
  color: #fff;
}

@media (width >= 900px) {
  .cta-content h2,
  .cta-content h3 {
    font-size: 40px;
    line-height: 42px;
  }
}
