.feature-grid {
  padding: 0 39px;
  margin-bottom: 50px;
}

.feature-grid-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.feature-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.feature-grid-icon {
  margin-bottom: 16px;
}

.feature-grid-icon img {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.feature-grid-text h3 {
  font-family: var(--heading-font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.16px;
  margin: 0 0 10px;
  color: #fff;
}

.feature-grid-text p {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: rgb(255 255 255 / 70%);
}

@media (width >= 900px) {
  .feature-grid-items {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
